pkgbase = ecapp
	pkgdesc = Terminal Translation Tool
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/missercatos/ecapp
	arch = x86_64
	license = MIT
	depends = glibc
	source = https://github.com/missercatos/ecapp/releases/download/v0.3.0/ecapp-v0.3.0-x86_64-linux.tar.gz
	sha256sums = 38edd96a826c2436e6aba89309baa211e62b9594fa9ad95b81ff4a124cbcad44

pkgname = ecapp